body {
    background-color: salmon;
}

h1 {
    color: white;
    font-size: 60px;
}
ul {
    list-style-type: none;
}
ul li {
    text-align: center;
}
ul li a{
    text-decoration: none;
    color: blue;
}